
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: @color-neutral-darkest;
}

a {
	color: @color-primary;
	text-decoration: none;
	transition: all .2s;

	&:hover {
		color: @color-primary-lighter;
	}
}

.simpleScrollBars() {
	&::-webkit-scrollbar {
	  width: 6px;
	  height: 6px;
	}

	&::-webkit-scrollbar-track {
	  border-radius: 6px;
	  background: fade(#000, 20%);
	}

	&::-webkit-scrollbar-thumb{
	  border-radius: 6px;
	  background: fade(#fff, 8%);
	}
}
