* {
	box-sizing: border-box;
}

html, body, main {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;
	font-family: sans-serif;
	font-size: .9em;
	margin: 0 auto;
}
