.Message {
	padding: @space-sm @space;
	display: block;
	margin: .5em 0;
	background-color: @color-neutral-light;
	color: @color-neutral-darker;
	text-align: center;
	font-weight: bold;

	a {
		color: darken(@color-neutral, 50%);
		text-decoration: underline;
	}

	&--informative {
		background-color: lighten(@color-alert-neutral, 25%);
		color: darken(@color-alert-neutral, 30%);

		a {
			color: darken(@color-alert-neutral, 50%);
		}
	}

	&--positive {
		background-color: lighten(@color-alert-positive, 25%);
		color: darken(@color-alert-positive, 30%);

		a {
			color: darken(@color-alert-positive, 50%);
		}
	}

	&--ambiguous {
		background-color: lighten(@color-alert-ambiguous, 25%);
		color: darken(@color-alert-ambiguous, 30%);

		a {
			color: darken(@color-alert-ambiguous, 50%);
		}
	}

	&--negative {
		background-color: lighten(@color-alert-negative, 25%);
		color: darken(@color-alert-negative, 30%);

		a {
			color: darken(@color-alert-negative, 50%);
		}
	}

	+ .Message {
		margin-top: @space-sm;
	}
}
