@keyframes blink {
	0% {
		background-color: fade(@color-primary-light, 20%);
		border-color: fade(@color-primary-light, 0%);
		box-shadow: 0 0 10px fade(@color-primary-dark, 20%);
	}

	50% {
		background-color: @color-primary-light;
		border-color: @color-primary-light;
		box-shadow: 0 0 10px @color-primary-dark;
	}

	100% {
		background-color: fade(@color-primary-light, 20%);
		border-color: fade(@color-primary-light, 0%);
		box-shadow: 0 0 10px fade(@color-primary-dark, 20%);
	}
}

@keyframes pulseFade {
	0% {
		opacity: 1;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
