.App {
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;

	&-loading,
	&-error {
		text-align: center;
		font-weight: bold;
		position: relative;
		top: 40%;
	}
}

.View {
	transition: background-color .4s;
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;
}

.Footer {
	margin-bottom: 0;
	box-shadow: 0 1px 6px fade(#000, 10%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background: linear-gradient(to right, @color-primary, @color-secondary);

	a {
		display: block;
		border: none;
		color: @color-neutral-lighter;
		background-color: @color-neutral-darkest;
		font-size: .8em;
		text-transform: uppercase;
		padding: @space-sm;
		cursor: pointer;
		position: relative;
		z-index: 2;
		transition: background .3s;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(to right, @color-primary, @color-secondary);
		}

		&:hover {
			background-color: fade(@color-neutral-darkest, 10%);
		}
	}
}
