.App {
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;

	&-loading,
	&-error {
		text-align: center;
		font-weight: bold;
		margin-top: 40%;
	}
}

.View {
	transition: background-color .4s;
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;

	&--vhosts {

	}

	&--sites {

	}

	&--settings {

	}
}
