.App {
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;

	&-loading,
	&-error {
		text-align: center;
		font-weight: bold;
		position: relative;
		top: 40%;
	}
}

.View {
	transition: background-color .4s;
	width: 450px;
	height: 520px;
	margin: 0 auto;
	position: relative;
}

.Footer {
	margin-bottom: 0;
	box-shadow: 0 1px 6px fade(#000, 10%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;

	a {
		display: block;
		border: none;
		background-color: @color-neutral-darker;
		color: @color-neutral-lighter;
		font-weight: bold;
		padding: .5em;
		cursor: pointer;
	}
}
