.Nav {
	display: flex;
	text-align: center;
	margin-bottom: .5em;
	box-shadow: 0 1px 6px fade(#000, 30%);
	position: relative;

	.Nav-item {
		flex: 1;
		padding: 1em;
		text-decoration: none;
		outline: none;
		cursor: pointer;
		transition: background-color .2s;
		border-bottom: 4px solid transparent;
		background-color: fade(@color-neutral-darkest, 80%);
		color: @color-neutral-lightest;

		&.is-active {
			border-bottom-color: @color-primary-light;
		}
	}

	.Nav-indicator {
		position: absolute;
		bottom: 0;
		height: 4px;
		width: 100%;
		left: 0;
		background-color: @color-primary;
		background: linear-gradient(to right, @color-secondary, @color-primary);
		transition-property: left, width;
		transition-duration: .4s;
		transition-timing-function: cubic-bezier(.22,.02,.04,1);
	}
}

.Nav--base {
	margin-bottom: 0;
	box-shadow: 0 1px 6px fade(#000, 10%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;;

	.Nav-item {
		border: none;
		background-color: @color-neutral-darker;
		color: @color-neutral-lighter;
		font-weight: bold;
		padding: .5em;
	}
}
