.Nav {
	display: flex;
	text-align: center;
	margin-bottom: .5em;
	box-shadow: 0 1px 6px fade(#000, 30%);
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 5px;
		background: linear-gradient(to right, @color-primary, @color-secondary);
	}

	.Nav-item {
		flex: 1;
		padding: 1em;
		text-decoration: none;
		outline: none;
		cursor: pointer;
		transition: background-color .2s;
		background-color: @color-neutral-darkest;
		color: @color-neutral-lightest;

		&.is-inactive {
			opacity: .5;
			cursor: default;
		}
	}

	.Nav-indicator {
		position: absolute;
		bottom: 1px;
		height: 4px;
		width: 100%;
		left: 0;
		background: transparent;
		transition-property: left, width;
		transition-duration: .4s;
		transition-timing-function: cubic-bezier(.22,.02,.04,1);
		z-index: 10;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 450px;
			background-color: @color-neutral-darkest;
		}

		&:before {
			right: 100%;
			transform: skew(-45deg);
		}

		&:after {
			left: 100%;
			transform: skew(45deg);
		}
	}
}
