.Notifications {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 43 * 3px;
	overflow-y: scroll;
	text-align: center;
	z-index: 10;
	.simpleScrollBars();

	.Notification {
		padding: @space-sm;
		transition: all .3s;
		position: relative;
		border-top: 1px solid @color-neutral-darkest;
		background: @color-primary;
	}
}
