.Sites {
	width: 100%;
	border-collapse: collapse;
	background-color: @color-neutral-darkest;
	color: @color-neutral-lightest;
	margin-bottom: .5em;

	th, td {
		padding: .8em .8em;
	}

	th {
		text-align: left;
		color: @color-primary-dark;
		border-bottom: 1px solid @color-neutral-dark;
	}

	tr:nth-child(2n+1) td {
		background-color: fade(@color-neutral-darkest, 40%);
	}
}

.Site {

	&-name {
		width: 20%;
	}

	&-aliases {
		width: 30%;
	}

	&-root {
		width: auto;
		span {
			opacity: .5;
		}
	}

	&-actions {
		width: 30%;
		text-align: right;
	}
}
