.Sites {
	overflow: hidden;

	.Sites-header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: @space-sm 0;
		border-bottom: 1px solid @color-secondary;
		margin-bottom: @space-sm;
		color: @color-secondary-light;

		&:first-child {
			padding-left: 2em;
		}
	}

	.Sites-body {
		overflow-y: auto;
		max-height: 330px;
		.simpleScrollBars();
	}
}

.Site {
	display: grid;
	grid-template-columns: 2em repeat(3, 1fr);
	padding: @space-xs;
	position: relative;
	overflow: hidden;

	.Site-name {
		cursor: move;
	}

	&.is-inactive {
		.Site-name,
		.Site-aliases,
		.Site-root {
			opacity: .3;
		}
	}

	&.is-dragging {
		opacity: .4;
	}

	.Site-actions {
		position: absolute;
		right: 0;
		top: 2px;
		padding-left: 15px;
		opacity: 0;
		transform: translateX(100%);
		background: linear-gradient(to right, fade(@color-neutral-darkest, 0%), @color-neutral-darkest 20px, @color-neutral-darkest);
		transition: all .2s;
	}

	&:hover .Site-actions {
		transform: translateX(0);
		opacity: 1;
	}

	.Site-name,
	.Site-root,
	.Site-aliases {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.Site-aliases {
		padding: 0 @space-xs;
	}
}
