.Vhosts {
	height: 437px;
	overflow: auto;
	margin: 0 0 .5em;
	padding: 0 1em;
}

.Vhost {
	display: flex;
	padding: .5em 0;
	position: relative;

	&-siteLinks {
		width: 50%;
		margin: 0 .5em;
		position: relative;
	}

	&-aliases {
		display: flex;
		flex-direction: column;
		position: absolute;
		pointer-events: none;
		opacity: 0;
		transition-property: transform, opacity;
		transition-duration: .3s;
		transform-origin: top;
		transform: scaleY(.9);
		z-index: 100;
		margin-top: 3px;
		
		a {
			background-color: @color-primary-darker;
			margin-top: 1px;
		}
	}

	&-siteLinks:hover {
		a.Vhost-name {
			background-color: @color-primary-darker;

			&:hover {
				background-color: @color-primary;
			}
		}

		.Vhost-aliases {
			pointer-events: all;
			opacity: 1;
			transform: scaleY(1);

			a:hover {
				background-color: @color-primary;
			}
		}
	}

	&-name {
		padding: .2em .5em;
		color: @color-neutral;
		transition: color .2s, background-color .2s;
		border-radius: 3px;
		position: relative;
		z-index: 0;
	}

	a&-name {
		color: @color-neutral-lighter;
		cursor: pointer;
	}


	&-indicator {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-top: .6em;
		border-radius: 4px;
		background-color: transparent;
		border: 1px solid @color-neutral-darker;
		transition: all 1s;
	}

	&-actions {
		position: relative;
		flex: 1;
		text-align: right;

		&-start {
			.is-starting & {
				svg {
					visibility: hidden;
				}

				&:after {
					content: '';
					position: absolute;
					top: 1px;
					left: 1px;
			    width: 11px;
			    height: 11px;
					margin: 3px;
			    border-radius: 11px;
			    border: 2px solid @color-primary-dark;
			    border-bottom-color: transparent;
					animation: spin linear infinite .5s;
				}
			}
		}

		&-restart {
			.is-restarting & {
				animation: spin linear infinite .5s;
			}
		}

		&-stop {
			.is-stopping & {
				svg {
					visibility: hidden;
				}

				&:after {
					content: '';
					position: absolute;
					top: 1px;
					left: 1px;
			    width: 11px;
			    height: 11px;
					margin: 3px;
			    border-radius: 11px;
			    border: 2px solid @color-primary-dark;
			    border-bottom-color: transparent;
					animation: spin linear infinite .5s;
				}
			}
		}
	}

	&.is-fetching {
		.Vhost-actions {
			button {
				pointer-events: none;
			}
		}

		.Vhost-indicator {
			animation: blink infinite .5s;
		}
	}

	&.is-active {
		.Vhost-indicator {
			background-color: @color-primary-light;
			border-color: @color-primary-light;
			box-shadow: 0 0 10px @color-primary-dark;
		}

		.Vhost-siteLinks {
			border-radius: 3px;

			&:hover {
				.Vhost-name {
					display: inline;
				}
			}
		}
	}
}
